<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ojhdtapp.parabox">
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32" />-->
    <queries>
        <intent>
            <action android:name="com.ojhdtapp.parabox.PLUGIN"/>
        </intent>
    </queries>

    <application
        android:requestLegacyExternalStorage="true"
        android:name=".core.HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parabox"
        android:usesCleartextTraffic="true">
        <service
            android:name=".domain.service.PluginService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Parabox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>